@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
body, html {
    margin: 0;
    font-family: Raleway;
    font-size: 100%;
    overflow-x: hidden;
    padding: 0 2rem
}

.container {
    width: 90rem;
    max-width: 100%;
    margin: auto
}

a {
    text-decoration: none
}

nav {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr
}

nav a {
    padding: 3rem 0;
    text-align: center;
    color: #000;
    border-top: 2px solid #fff
}

nav a:hover {
    color: #0065fc;
    border-top: 2px solid
}

nav div {
    display: flex;
    align-items: center
}

.login {
    color: #0065fc;
    font-weight: 700
}

.login:hover {
    border-top: 2px solid #fff
}

h1 {
    margin-bottom: 0
}

nav img {
    width: 8rem
}

.barre_de_recherche div {
    width: 20rem;
    display: flex
}

.searchTerm {
    width: 40rem;
    border-right: none;
    border-left: none;
    border-top: #f2f2f2 1px solid;
    border-bottom: #f2f2f2 1px solid;
    text-align: auto;
    padding-left: 1rem;
    font-weight: 700
}

.search i {
    width: 10rem;
    border-top: 13px solid #f2f2f2;
    background-color: #f2f2f2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    text-align: center;
    font-size: 1rem
}

section button {
    width: 21rem;
    max-width: 150%;
    height: 50px;
    border: 1px #0065fc;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    color: #f2f2f2;
    font-size: .9rem;
    cursor: pointer
}

.conteneur {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    flex-wrap: wrap
}

.conteneur h2 {
    font-size: 1rem
}

.conteneur > div {
    display: flex;
    align-items: center;
    border: #f2f2f2 solid;
    border-radius: 5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
.icone_conteneur {
    display: flex;
    align-items: center;
}
.conteneur span {
    font-weight: 700;
    margin: 0 1rem
}
.conteneur div:hover {
cursor: pointer;
color: #0065fc;
}
.conteneur i {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 15rem;
    border: 10px solid #deebff;
    height: 1.7rem;
    width: 1.7rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.info {
    display: flex;
    margin-top: 2rem;
    font-size: 1.1rem
}

.info i {
    border: 2px solid #d9d9d9;
    border-radius: 5rem;
    height: 1.3rem;
    width: 1.3rem;
    text-align: center;
    font-size: .9rem;
    margin-right: 1rem;
    color: #0065fc;
    padding-top: .1rem
}

.info p {
    transform: translateY(-16px)
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    width: 90rem;
    margin-top: 2rem;
    max-width: 100%;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem
}

.gridcontainer img {
    width: 100%;
    height: 9rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0
}

.gridcontainer a {
    background: #fff;
    display: block;
    padding: .4rem;
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: #d6d6d6 2px 2px 9px
}

a>div:nth-child(2) {
    margin: .5rem
}

a>div:nth-child(2)>h3 {
    margin-bottom: .375rem;
    margin-top: 0
}

a>div:nth-child(2)>p {
    margin-bottom: .5rem;
    margin-top: 0
}

.gridcontainer i:not(:first-child) {
    margin-left: .5rem
}

.gridcontainer>a:hover {
    color: #0065fc;
}
.hebergements {
    background-color: #f2f2f2;
    padding: 2rem 3rem 1.5rem 3rem;
    border-radius: 15px
}

.hebergements a:hover {
    color: #0065fc
}

.hebergements a {
    color: #000
}

.bluestar {
    color: #0065fc
}
.bluestar2{
    color: #0065fc;
}
.bluestar3{
    color: #0065fc;
}
.bluestar3>i:nth-child(4) {
    color: #d9d9d9;
}
.bluestar3>i:nth-child(5) {
    color: #d9d9d9;
}
.bluestar>i:nth-child(5) {
    color: #d9d9d9;
}
aside {
    background: #f2f2f2;
    border-radius: 1rem
}
.description {
    color: black;
}
.asidegrid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.asidegrid img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem
}

.asidegrid a {
    display: flex;
    background: #fff;
    border-radius: 1.2rem;
    padding: .4rem;
    box-shadow: #d6d6d6 2px 2px 9px
}

.asidegrid a>div:first-child {
    position: relative;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    height: 100%
}

.asidegrid a>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.line {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem
}

.line i {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 2.5rem
}

.line h2 {
    margin-left: 2.5rem
}

.activities_marseille {
    padding: 2rem;
}

.section_activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 14rem repeat(3, 2rem) 14rem;
    column-gap: 2rem;
    
}

.section_activities img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.section_activities>a>div {
    position: relative;
    flex: 1
}

.section_activities>a {
    display: flex;
    flex-direction: column;
    box-shadow: #d6d6d6 2px 2px 9px;
    border-radius: 1rem;
    overflow: hidden;
    color:black
}

.section_activities h3 {
    margin-left: 1rem
}

.section_activities>a:nth-child(1) {
    grid-area: 1/1/6/2
}

.section_activities>a:nth-child(2) {
    grid-area: 1/2/4/3
}

.section_activities>a:nth-child(3) {
    grid-area: 5/2/6/3
}

.section_activities>a:nth-child(4) {
    grid-area: 1/3/6/4
}

.section_activities>a:nth-child(5) {
    grid-area: 1/4/2/5
}

.section_activities>a:nth-child(6) {
    grid-area: 3/4/6/5
}

footer {
    background: #f2f2f2;
    grid-template-columns: repeat(3, 1fr)
}

footer ul {
    list-style-type: none
}

footer a {
    color: #000
}

footer h3 {
    margin-left: 2.5rem
}

.footer_grille {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem auto 0 auto;
    padding-top: 3rem;
    padding-bottom: 2.5rem
}

footer li {
    margin-bottom: .7rem
}

@media screen and (max-width:1511px) {
    .hebergements {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr
    }
    .asidegrid {
        grid-area: 1;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 2rem;
        /* row-gap: 2rem; */
    }
    aside {
        grid-area: 1;
        /* row-gap: 2rem; */
    }
    main {
        grid-template-columns: auto;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 1057px){
    .asidegrid {
        grid-area: 1;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
     
    }
    body,html {
        padding: 0;
    }
    h1 {
        padding-left: 1rem;
    }
    header p {
        padding-left: 1rem;
    }
    nav div {
        padding-left: 1rem;
    }
    .info {
        padding-left: 1rem;
    }
    .barre_de_recherche {
        padding-left: 1rem;
    }
}
@media screen and (max-width: 980px) {
    .gridcontainer{
        grid-template-columns: repeat(2, 1fr);
    }
    nav  {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .host{
        grid-area: 2/1/3/2;
    }
    .login {
        grid-area: 1/2/2/3;
    }    
}

@media screen and (max-width: 980px) {
     .section_activities {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 2rem;
    }
    .section_activities>a:nth-child(1) {
        grid-area: 1/1/1/1;
    }
    .section_activities>a:nth-child(2) {
        grid-area: 2/1/3/1;
    }
    .section_activities>a:nth-child(3) {
        grid-area: 3/1/4/1;
    }
    .section_activities>a:nth-child(4) {
        grid-area: 4/1/5/1;
    }
    .section_activities>a:nth-child(5) {
        grid-area: 5/1/6/1;
    }
    .section_activities>a:nth-child(6) {
        grid-area: 6/1/7/1;
    }
    .section_activities a {
        height: 200px;
    }
}
@media screen and (max-width: 756px) {
    .footer_grille {
        grid-template-columns: 1fr;
    }
    
}
@media screen and (max-width: 530px) {
    .gridcontainer {
        grid-template-columns: 1fr;
    }
    .hebergements {
        background: white;
    }
    body,html {
        padding: 0;
    }
    
}

@media screen and (max-width: 414px) {
    nav a {
        padding: 3rem 0 1rem;
    }
    .host {
        border-bottom: 4px solid #f2f2f2;
    }
    .activities {
        border-bottom: 4px solid #f2f2f2;
    }
    nav a:hover {
        color: #0065fc;
        border-bottom: 4px solid;
        border-top: white;
    }
    h1 {
        padding-left: 1rem;
    }
    header p {
        padding-left: 1rem;
    }
    nav div {
        padding-left: 1rem;
    }
    .info {
        padding-left: 1rem;
    }
    .barre_de_recherche {
        padding-left: 1rem;
    }
    aside{
        border-radius: 0rem;
    }
}